/*
0-600px:        Phone
600-991px:      Tablet Portrait
992-1200px:     Tablet Landscape
[1200-1800px:]  is where our normal styles apply
1800px + :      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #b4bddb;
  font-weight: 400;
  line-height: 25px;
  background-color: #081131;
  overflow-x: hidden; }




.select2-container--default {
  width: 100%; }
  .select2-container--default ul li {
    margin-left: 10px; }
    .select2-container--default ul li:last-child {
      margin-bottom: 10px; }
  .select2-container--default .select2-selection--single {
    background-color: #1b223b;
    color: #ced6f2;
    border-radius: 10px;
    padding-left: 10px;
    height: 50px;
    border: none; }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #ced6f2;
      line-height: 50px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 50px; }
      .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #ced6f2 transparent transparent transparent;
        left: 0px; }
    .select2-container--default .select2-selection--single:focus {
      outline: none; }
  .select2-container--default .select2-dropdown {
    border: none;
    background-color: #081131;
    border-radius: 10px; }
  .select2-container--default .select2-search--dropdown {
    background-color: #1b223b; }
    .select2-container--default .select2-search--dropdown .select2-search__field {
      background-color: #1b223b;
      color: #ced6f2;
      border-color: #b4bddb;
      border-radius: 7px; }
  .select2-container--default .select2-results {
    background-color: #1b223b;
    border-radius: 0px 0px 10px 10px; }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1b223b;
    color: #ced6f2;
    border-radius: 10px; }
  .select2-container--default .select2-results__option--selected {
    background-color: #1b223b; }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #ced6f2 transparent; }




.checkout-form-section {
  margin-bottom: 85px; }
  .checkout-form-section h4 {
    margin: 80px 0px 60px; }
  .checkout-form-section .checkout-form .form-control {
    border: none; }
  .checkout-form-section .checkout-form label {
    color: #ced6f2; }
  .checkout-form-section .checkout-form p {
    margin: 5px 0px 20px; }
  .checkout-form-section .checkout-form .shipping-detail h4 {
    margin-bottom: 20px; }
  .checkout-form-section .checkout-form .shipping-detail textarea.form-control {
    height: 120px; }
  .checkout-form-section .checkout-form .additional-info h4 {
    margin-bottom: 20px;
    margin-top: 50px; }
  .checkout-form-section .checkout-form .additional-info textarea.form-control {
    height: 120px; }
  .checkout-form-section .order-details {
    background-color: #1b223b;
    padding: 50px;
    border-radius: 17px; }
